*{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    padding: 50px 20px;
    color: white;
    background-color: #1e293b;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    
    
}



nav{
    background-color:#ffffff;
    padding: 8px 15px;
    color: white;
    color-font:black;
    margin : 0 15px;
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    

}
section{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color:white;
    border-radius:12px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
section h2{
    color: #1e293b;
    margin-bottom: 10px;
    font-size : 30px;
}
section p{
    line-height: 1.6;
    margin-bottom: 15px;
    font-size : 18px;
}
section h3{
    color: #1e293b;
    margin-bottom: 10px;
    font-size : 25px;
}
ul,
ol{
    
    
    margin-left: 30px;
}
li{
    margin: 5px 0;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}
table, th, td {
    border: 1px solid #ccc;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
form{
    margin-bottom: 15px;

}
label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button{
    background-color: #1e293b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
    background-color: #333;
}
footer{
    background-color: #1e293b;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
